/viikko1/NhlStatistics1/.nb-gradle/
/viikko2/Verkkokauppa1/.nb-gradle/
/viikko3/nhlreader/.nb-gradle/
/viikko2/alussa tehty projekti joka ensin esti verkkokaupan ja sitten tuhosi koko viikko2 hakemiston mutta nyt ongelma viimein korjattu/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/WebLogin/.nb-gradle/
/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MaksukorttiMockito/.nb-gradle/
/viikko4/Verkkokauppa/.nb-gradle/